@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --attr-color : hsl(228, 45%, 44%);
    --Moderate-violet :  hsl(263, 55%, 52%);
    --very-dark-grayish-blue : hsl(217, 19%, 35%);
    --very-dark-blackish-blue : hsl(219, 29%, 14%);
    --white : hsl(0, 0%, 100%);
    --light-gray : hsl(0, 0%, 81%);
    --light-grayish-blue : hsl(210, 46%, 95%);
}

*::after,*::before,*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--light-grayish-blue);
    display: grid;
    place-items: center;
    height : 100vh;
}

.inner-review{
    max-width : 95%;
    margin : auto;
}

.review-section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.2rem;
    max-width : 90%;
    margin : 0 auto;
    line-height: 1.35rem;
}

.review{
    border-radius : 5px;
}

.review-1{
    background-color: var(--Moderate-violet);
    grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
}

.quote{
    position: absolute;
    right : 20px;
    top : 0px;
}

.quote img{
    height : 70%;
    width : 70%;
    position: relative;
}

.review-2{
    background-color: var(--very-dark-grayish-blue);
    grid-column-start: 3;
    grid-column-end: 4;
}

.review-3{
    background-color: var(--white);
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start : 1;
    grid-row-end : 3;
}

.review-4{
    background-color: var(--white);
    grid-row-start : 2;
    grid-row-end : 3;
}

.review-5{
    background-color: var(--very-dark-blackish-blue);
    grid-column-start : 2;
    grid-column-end : 4;
}

.review{
    display: flex;
    flex-direction: column;
}

.review .profile-content{
    display: flex;
    align-items: center;
}

img{
    border-radius : 50px;
    height : 30px;
    width : 30px;
    margin : .75rem;
}

.intro p:first-child{
    color : var(--light-grayish-blue);
    word-spacing: .1rem;
    font-size: .9rem;
    font-weight: 600;
}

.intro p:last-child{
    color : var(--light-gray);
    font-size : .7rem;
}

.para-1{
    color : var(--white);
    font-size : 1.05rem; 
    padding : .5rem;
    position: relative;
    z-index: 2;
}

.review-3 .para-1, .review-4 .para-1{
    color : var(--very-dark-blackish-blue);
}

.review-3 .para-2, .review-4 .para-2{
    color : var(--very-dark-grayish-blue);
}

.review-3 .intro p:first-child, .review-4 .intro p:first-child{
    color : var(--very-dark-blackish-blue);
    font-weight: 600;
}

.review-3 .intro p:last-child, .review-4 .intro p:last-child{
    color : var(--very-dark-grayish-blue);
}

.para-2{
    color : var(--light-gray);
    font-size : .85rem;
    padding : .65rem .5rem;
}